<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="PCServer_YHY"
    Language="1033"
    Version="1.0.1"
    Manufacturer="YHY"
    UpgradeCode="A3F2C1D4-8B7E-4F92-9A3B-6C5D2E1F0A8B">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="connection.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <Feature Id="MainFeature" Title="PCServer_YHY" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PCServer_YHY" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PCServer_YHY" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="12345678-1234-1234-1234-1234567890AB">
        <Shortcut Id="ApplicationStartMenuShortcut"
          Name="PCServer_YHY"
          Description="PCServer_YHY"
          Target="[INSTALLFOLDER]Backend.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\YHY\PCServer_YHY" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
    <Component Id="DesktopShortcut" Guid="A1B2C3D4-1234-5678-ABCD-1234567890CD">
      <Shortcut Id="DesktopShortcutLink"
        Name="PCServer_YHY"
        Description="PCServer_YHY"
        Target="[INSTALLFOLDER]Backend.exe"
        WorkingDirectory="INSTALLFOLDER"
        Icon="AppIcon.ico" />
      <RemoveFolder Id="DesktopFolderRemove" Directory="DesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\YHY\PCServer_YHY" Name="desktopshortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </DirectoryRef>

  </Product>
</Wix>